*{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	font: 20px/1.21 Roboto, 'Helvetica Neue', arial, helvetica, sans-serif;
}

html{
  background-image: url("../img/smc.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(246,246,246);
}


.nav{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	border-style: solid;
	border-width: 1px;
	border-color: #c7c7c7;
	border-radius: 5px;
	margin: 10% 35% 0 35%;
	background-color: #fff;
}

.login .comp{
	padding: 5% 0 5% 0;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005cb2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#1e88e5;
}

@media (max-width: 600px) {
	.login{
		margin: 30% 5% 0% 5%;
	}
	.login .comp{
		padding: 10% 0 10% 0;
	}
}